.container-ser {
  width: 32rem;
  height: 28rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  border-radius: 1rem;
  margin-left: 1rem;
  background-color: #a37dc8;

  .title-ser {
    font-size: 4rem;
    color: white;
  }

  .desc {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }

  .icon {
    width: 40%;
    height: 40%;
  }
}
